@import url(http://fonts.googleapis.com/css?family=Lilita+One|Sigmar+One|Open+Sans);

body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body > header a.navbar-brand {
    background-position: left center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("/images/hotdog.png");
    padding-left: 64px;
    font-family: "Sigmar One", cursive;
    font-weight: normal;
}

body > header:hover a.navbar-brand {
    background-image: url("/images/hotdog_color.png");
}

body > header ul.navbar-nav li i.fa { margin-right: 0.5em; }

@media (min-width: 992px) {
    #content { font-size: 1.25em; }
}

#content div.sponsor {
    text-align: center;
    padding-bottom: 0.5em;
}

h1 { font-family: "Sigmar One", cursive; }

h2 {
    font-family: "Lilita One", cursive;
    font-size: 2em;
    margin-top: 1em;
}

table.schedule th > h2 {
    text-align: center;
    margin-top: 0;
}

table.schedule td > h3 {
    font-size: 1.2em;
    font-weight: bold;
}

table.schedule td > h3 > span {
    font-size: 0.8em;
    color: #666;
}

body > footer {
    border-top: 3px solid #ddd;
    margin: 1em 0 1em;
    padding-top: 0.5em;
}

body > footer p.byline {
    font-weight: bold;
    opacity: 0.5;
}
