---
layout: default
title: Home Of The Wurst PHP Conference Ever
generator: pagination
pagination:
    max_per_page: 100
use: [events]
---

{% set now = "now"|date_modify("-2 day")|date("U") %}
{% set found = false %}

{% for event in data.events|reverse %}

    {% if event.date >= now %}
        <h1>{{ event.title }}</h1>

        <div class="panel panel-default">
            <div class="panel-heading">Event Info</div>
            <div class="panel-body">
                {% if event.eventbrite is not empty %}
                    Tickets: <a href="{{ event.eventbrite }}">{{ event.eventbrite }}</a><br />
                {% endif %}
                Venue: {{ event.venue }}<br />
                Address: {{ event.address }}<br />
            </div>
        </div>


        {% if event.blocks.teaser is empty %}
            {{ event.blocks.content|raw }}
        {% else %}
            {{ event.blocks.teaser|raw }}
        {% endif %}
    {% endif %}

{% endfor %}